.ShowCaseContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
}

.ShowCaseItem {
        width: 400px;
        height: 400px;
        aspect-ratio: auto 1 / 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
}

.ShowCaseItem img {
    transform: scale(1);
    transition: none;
    object-fit: cover;
}

@media screen and (min-width: 600px) {
    .ShowCaseContainer {
        flex-direction: row;
    }

    .ShowCaseContainer .ShowCaseItem {
        width: calc(100% / 3);
    }
    
    .ShowCaseItem img {
        transform: scale(100%);
        transition: transform .5s ease-in-out;
    }
    
    .ShowCaseItem img:hover {
        transform: scale(110%);
        transition: transform .5s ease-in-out;
    }

}