.showCaseContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
}

.showCaseItem {
        width: 400px;
        aspect-ratio: auto 1 / 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
}

.showCaseItem img {
    object-fit:cover;
}

@media screen and (min-width: 401px) {
    .showCaseContainer .showCaseItem {
        width: calc(100% / 3);
    }
    
    .showCaseItem img {
        transform: scale(100%);
        transition: transform .5s ease-in-out;
    }
    
    .showCaseItem img:hover {
        transform: scale(110%);
        transition: transform .5s ease-in-out;
    }

}