.App {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    background-color: #f1f1f1;
}

.ShopItems {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
}

@media screen and (min-width: 600px) {
  
    .ShopItems {
        flex-direction: row;
    }
    
}